<h3>Top Lines</h3>
  <div class="grid grid-pad">
      <accordion [closeOthers]="oneAtATime">
          <accordion-group *ngFor="#line of lines" class="col-1-4" #group [isOpen]="status.open" >
            <div accordion-heading>
              Line {{line.name}}
              <i class="pull-right glyphicon"
                 [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
            </div>
            <div *ngFor="#destination of line.destinations" class="col-1-4" >
              <h4>{{destination.name}}</h4>
            </div>

          </accordion-group>
      </accordion>
  </div>

<div>
